@import 'fonts';

$footer: #00B8D4;
$herader : #00BFA5;
$secction1 : #0071bc;
$secction2 : #448bf2;

body{
    font-family: 'Lato', sans-serif;
}
.header{
  /**/
    background-color: $herader;
    height: 200px;
}
/*----------------------------------------*/
.icon-outstanding{
    height: 150px;
    width: 650px;
}


.morebold{
    background-image: url('/img/lo-mas-vendido-bg.png');
    background-size: cover;
    widows: 100%;
    height: 100%;

}
.sold{
    margin-top: 400px;
}
.sold p{
    font-weight:lighter;
    color: #262626 ;
    font-size: 23px;
    margin-top: 5px;
}
.sold h3{
    font-size: 32px;
    font-weight: bold;
}
.sold i {
    color: yellow;
    height: 10px;
}
.sold img{

    @media screen and (max-width: 768px){

    }
}
.badge{
    font-weight:lighter;
    background-color: #448bf2;
    color: #ffffff;
    font-size: 15px;
}

.sold h5{
    font-weight:Medium;
    height: 225px;
}
/**icons**/
.group-icon img{
    filter: opacity(.2);
    &:hover{
        filter: opacity(1);
    }
}











.footer{
    height: 100px;
    background-color:$footer;
    color: #ffffff;
}
.footer2{
    background-color: $secction2;
    height: 60px;
    color: #ffffff;


}
