$footer: #00B8D4;
$body : #004D40;
$herader : #00BFA5;
$secction1 : #01579B;
$secction2 : #29B6F6;
.header{
    background-color: $herader;
    height: 200px;
}
.search{
    background-color: #29B6F6;
    height: 35px;
    margin-right: 100px;
}
.body{
    height: 500px;
    background-color: $body;
}
.footer{
    height: 100px;
    background-color:$footer;
    .icon{
        background-color:$secction1 ;
    }
}
.footer2{
    background-color: $secction2;
    height: 60px;
    .actor{
        background-color: #004D40;
    }
}


